---
import Button from "@components/ui/button.astro";
import Link from "@components/ui/link.astro";
import { localizePath } from "astro-i18next";
import { Icon } from "astro-icon/components";
import { t } from "i18next";

export const menuitems = [
  {
    title: "header.contact",
    path: "/contact",
  },
];
---

<div
  x-data="{open: window.innerWidth < 768 ? false : true}"
  class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8 z-10 relative"
>
  <div class="flex flex-row items-center justify-between">
    <a
      href={localizePath("/")}
      class="flex gap-3 items-center text-lg font-semibold tracking-widest text-gray-900 uppercase rounded-lg dark:text-white focus:outline-none focus:shadow-outline"
    >
    </a>
  </div>
</div>
