---
import LanguageSelector from "@components/languageselector.astro";
import { menuitems } from "@components/navbar/navbar.astro";
import ThemeSelector from "@components/themeselector.astro";
import { localizePath } from "astro-i18next";
import { Icon } from "astro-icon/components";
import { t } from "i18next";
---

<footer class="pb-12 pt-28">
  <div
    class="mx-auto max-w-6xl px-6 md:px-12 lg:px-6 xl:px-0 flex flex-col items-center gap-8"
  >
    <!-- Logo -->
    <img
      src="./logo.png"
      alt="SIMEEX logo"
      class="w-36 h-auto"
      loading="lazy"
    />

    <!-- Lista de Contacto -->
    <ul
      role="list"
      class="flex flex-col sm:flex-row items-center justify-center gap-4 text-gray-700 dark:text-white"
    >
      <li role="listitem" class="flex items-center gap-2">
        <Icon name="mdi:whatsapp" class="w-5 h-5" />
        <a
          href="https://wa.me/525585701205"
          class="hover:text-[#0a5ba5] transition-colors"
          target="_blank"
          rel="noopener"
        >
          WhatsApp: 55 8570 1205
        </a>
      </li>
      <li role="listitem" class="flex items-center gap-2">
        <Icon name="mdi:phone" class="w-5 h-5" />
        <a href="tel:5544527433" class="hover:text-[#0a5ba5] transition-colors">
          Teléfono: 55 4452 7433
        </a>
      </li>
      <li role="listitem" class="flex items-center gap-2">
        <Icon name="mdi:email" class="w-5 h-5" />
        <a
          href="mailto:contacto@simeex.com"
          class="hover:text-[#0a5ba5] transition-colors"
        >
          contacto@simeex.com
        </a>
      </li>
      <li role="listitem" class="flex items-center gap-2">
        <Icon name="mdi:facebook" class="w-5 h-5" />
        <a
          href="https://www.facebook.com/people/Simeex-herrería-y-soldadura-industrial/100091922345307/"
          class="hover:text-[#0a5ba5] transition-colors"
          target="_blank"
          rel="noopener"
        >
          Facebook
        </a>
      </li>
    </ul>

    <!-- Copyright -->
    <div class="text-center">
      <span class="text-sm tracking-wide text-gray-500 dark:text-white">
        © SIMEEX 2025 – Present. Todos los derechos reservados.
      </span>
    </div>
  </div>
</footer>
