---
import { Image } from "astro:assets";
import Cobe from "@components/cobe.astro";
import Link from "@components/ui/link.astro";
import abstractDottedGlobeIllustration from "assets/abstract-dotted-globe-illustration.png";
import { t } from "i18next";

const text = t("hero.globe_title", {
  strong1:
    "<span class='text-3xl text-[#0a5ba5] font-extrabold'>seguros</span>",
  strong2:
    "<span class='text-3xl text-[#0a5ba5] font-extrabold'>precisos</span>",
  strong3:
    "<span class='text-3xl text-[#0a5ba5] font-extrabold'>duraderos</span>",
  strong4:
    "<span class='text-3xl text-[#0a5ba5] font-extrabold'>ingeniería especializada</span>",
});

const { dynamic = false } = Astro.props;
---

<div class="relative isolate dark:bg-stone-950">
  <div class="sm:pt-10">
    <div class="mx-auto max-w-7xl">
      <div class="mx-auto max-w-2xl flex flex-col gap-6 text-center py-12">
        <h1
          class="text-4xl sm:text-6xl font-bold tracking-tight text-black dark:text-white leading-tight"
        >
          Soluciones de <br />
          <span class="text-[#0a5ba5] font-extrabold">ingeniería</span> para un <span
            class="text-[#0a5ba5] font-extrabold">futuro seguro</span
          >
        </h1>

        <p class="text-lg leading-8 text-gray-800 dark:text-gray-100">
          {t("hero.subtitle")}
        </p>
        <Link
          href="#whats"
          class="md:px-3 md:py-2 leading-6 mt-6"
          style="primary"
        >
          {t("header.primary_button_text")}
        </Link>
      </div>
      <div
        class="relative min-h-min flex flex-col md:flex-row items-stretch justify-center py-12 px-4 gap-20"
      >
        <!-- Texto -->
        <div
          class="w-full md:w-1/2 flex flex-col gap-8 text-center md:text-left justify-center"
        >
          <div class="flex flex-col gap-4">
            <h2
              class="text-xl sm:text-2xl max-w-2xl font-medium text-black dark:text-white text-center sm:text-left leading-relaxed"
            >
              Proyectos industriales <strong>seguros</strong>, <strong
                >precisos</strong
              > y <strong>duraderos</strong> con <strong
                >ingeniería especializada</strong
              >
            </h2>
          </div>
          <!-- 
          <Link href="#whats" class="md:px-3 md:py-2 leading-6">
            {t("header.primary_button_text")}
          </Link> -->
        </div>

        <!-- Imagen -->
        <div class="w-full md:w-1/2 flex items-center justify-center h-full">
          <img
            src="/images/1.webp"
            alt="Descripción de la imagen"
            class="max-w-full max-h-[55vh] object-contain rounded-md shadow-md"
          />
        </div>
      </div>
    </div>
  </div>
</div>
