---
import { ViewTransitions } from "astro:transitions";
import { pwaInfo } from "virtual:pwa-info";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter";
import { HeadHrefLangs } from "astro-i18next/components";
import { SEO } from "astro-seo";
import i18next from "i18next";

export interface Props {
  title?: string;
  lang?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/meta/opengraph.png",
  Astro.site
).toString();

const { title, lang = null } = Astro.props;

const makeTitle = title ? `${title} | Simeex` : "Simeex";
---

<!doctype html>
<html lang={lang ?? i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/logo.png" />
    <!-- <ViewTransitions /> -->

    <!-- Global CSS -->
    <link rel="stylesheet" href="/index.css" />

    <SEO
      title={makeTitle}
      description="SIMEEX: Soluciones integrales en metal-mecánica, estructuras metálicas e inspección de soldaduras con altos estándares de calidad"
      canonical={canonicalURL}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `SIMEEX: Soluciones integrales en metal-mecánica, estructuras metálicas e inspección de soldaduras con altos estándares de calidad`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Simeex",
        },
      }}
    />
    <meta name="robots" content="index, follow" />

    <script src="/src/pwa.ts"></script>
  </head>
  <body
    class="bg-gradient-to-r from-[#ffffff] via-[#f5f7fa] to-[#e7edf5] bg-[length:200%_200%] animate-gradient-slow"
  >
    <!-- <Navbar /> -->
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
