---
import { localizePath } from "astro-i18next";

interface Props {
  href: string;
  size?: "xs" | "sm" | "md" | "lg";
  block?: boolean;
  style?: "outline" | "primary" | "hover" | "muted";
  class?: string;
  [x: string]: any;
}

const {
  href,
  block,
  size = "md",
  style = "primary",
  class: className,
  ...rest
} = Astro.props;

const sizes = {
  xs: "",
  sm: "px-3 py-1.5",
  md: "px-4 py-2.5",
  lg: "px-5 py-2.5",
};

const styles = {
  outline:
    "text-center border border-[#25355f] text-[#07172e] dark:text-white hover:border-[#0a5ba5] focus-visible:outline-[#0a5ba5] transition-colors",
  primary:
    "text-center bg-[#25355f] text-white hover:bg-[#0a5ba5] focus-visible:bg-[#0a5ba5] focus-visible:outline-[#0a5ba5] border-transparent shadow-md",
  muted: "text-sm font-semibold leading-6 text-[#07172e] dark:text-[#e7e7e7]",
  hover:
    "text-center text-[#25355f] hover:text-[#0a5ba5] focus:text-[#0a5ba5] focus:bg-[#e7e7e7] focus-visible:outline-[#0a5ba5] hover:bg-[#e7e7e7] dark:hover:bg-[#0a5ba5] dark:text-white",
};
---

<a
  href={href}
  {...rest}
  class:list={[
    "rounded-md text-sm font-semibold transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2",
    block && "w-full",
    sizes[size],
    styles[style],
    className,
  ]}
>
  <slot />
</a>
